In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [3]:
spark

In [6]:
df_spark = spark.read.csv('supermarket.csv', header=True, inferSchema=True)

In [8]:
df_spark.show(5)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date|               Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|2022-11-16 13:08:00|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|2022-11-16 10:29:00|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|2022-11-16 13:23:00|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|1/27/2019|2022-11-16 20:33:00|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|2022-11-16 10:37:00|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
only showing top 5 rows

In [14]:
df_spark.select(['city','customer type', 'gender' ]).show(5)

+---------+-------------+------+
|     city|customer type|gender|
+---------+-------------+------+
|   Yangon|       Member|Female|
|Naypyitaw|       Normal|Female|
|   Yangon|       Normal|  Male|
|   Yangon|       Member|  Male|
|   Yangon|       Normal|  Male|
+---------+-------------+------+
only showing top 5 rows

In [13]:
df_spark.dtypes

[('Invoice ID', 'string'),
 ('Branch', 'string'),
 ('City', 'string'),
 ('Customer type', 'string'),
 ('Gender', 'string'),
 ('Product line', 'string'),
 ('Unit price', 'double'),
 ('Quantity', 'int'),
 ('Tax 5%', 'double'),
 ('Total', 'double'),
 ('Date', 'string'),
 ('Time', 'timestamp'),
 ('Payment', 'string'),
 ('cogs', 'double'),
 ('gross margin percentage', 'double'),
 ('gross income', 'double'),
 ('Rating', 'double')]

In [16]:
df_spark.columns

['Invoice ID',
 'Branch',
 'City',
 'Customer type',
 'Gender',
 'Product line',
 'Unit price',
 'Quantity',
 'Tax 5%',
 'Total',
 'Date',
 'Time',
 'Payment',
 'cogs',
 'gross margin percentage',
 'gross income',
 'Rating']

In [18]:
df_spark.select(['city','customer type', 'gender' ]).describe().show(5)

+-------+--------+-------------+------+
|summary|    city|customer type|gender|
+-------+--------+-------------+------+
|  count|    1000|         1000|  1000|
|   mean|    null|         null|  null|
| stddev|    null|         null|  null|
|    min|Mandalay|       Member|Female|
|    max|  Yangon|       Normal|  Male|
+-------+--------+-------------+------+

In [19]:
df_spark.withColumnRenamed('customer type', 'customer').show()

+-----------+------+---------+--------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|customer|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date|               Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+--------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|  Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|2022-11-16 13:08:00|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|  Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|2022-11-16 10:29:00|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|  Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|2022-11-16 13:23:00|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|  Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|1/27/2019|2022-11-16 20:33:00|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|  Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|2022-11-16 10:37:00|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
|699-14-3026|     C|Naypyitaw|  Normal|  Male|Electronic access...|     85.39|       7|29.8865|627.6165|3/25/2019|2022-11-16 18:30:00|    Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|355-53-5943|     A|   Yangon|  Member|Female|Electronic access...|     68.84|       6| 20.652| 433.692|2/25/2019|2022-11-16 14:36:00|    Ewallet|413.04|            4.761904762|      20.652|   5.8|
|315-22-5665|     C|Naypyitaw|  Normal|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38|2/24/2019|2022-11-16 11:38:00|    Ewallet| 735.6|            4.761904762|       36.78|   8.0|
|665-32-9167|     A|   Yangon|  Member|Female|   Health and beauty|     36.26|       2|  3.626|  76.146|1/10/2019|2022-11-16 17:15:00|Credit card| 72.52|            4.761904762|       3.626|   7.2|
|692-92-5582|     B| Mandalay|  Member|Female|  Food and beverages|     54.84|       3|  8.226| 172.746|2/20/2019|2022-11-16 13:27:00|Credit card|164.52|            4.761904762|       8.226|   5.9|
|351-62-0822|     B| Mandalay|  Member|Female| Fashion accessories|     14.48|       4|  2.896|  60.816| 2/6/2019|2022-11-16 18:07:00|    Ewallet| 57.92|            4.761904762|       2.896|   4.5|
|529-56-3974|     B| Mandalay|  Member|  Male|Electronic access...|     25.51|       4|  5.102| 107.142| 3/9/2019|2022-11-16 17:03:00|       Cash|102.04|            4.761904762|       5.102|   6.8|
|365-64-0515|     A|   Yangon|  Normal|Female|Electronic access...|     46.95|       5|11.7375|246.4875|2/12/2019|2022-11-16 10:25:00|    Ewallet|234.75|            4.761904762|     11.7375|   7.1|
|252-56-2699|     A|   Yangon|  Normal|  Male|  Food and beverages|     43.19|      10| 21.595| 453.495| 2/7/2019|2022-11-16 16:48:00|    Ewallet| 431.9|            4.761904762|      21.595|   8.2|
|829-34-3910|     A|   Yangon|  Normal|Female|   Health and beauty|     71.38|      10|  35.69|  749.49|3/29/2019|2022-11-16 19:21:00|       Cash| 713.8|            4.761904762|       35.69|   5.7|
|299-46-1805|     B| Mandalay|  Member|Female|   Sports and travel|     93.72|       6| 28.116| 590.436|1/15/2019|2022-11-16 16:19:00|       Cash|562.32|            4.761904762|      28.116|   4.5|
|656-95-9349|     A|   Yangon|  Member|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|3/11/2019|2022-11-16 11:03:00|Credit card|482.51|            4.761904762|     24.1255|   4.6|
|765-26-6951|     A|   Yangon|  Normal|  Male|   Sports and travel|     72.61|       6| 21.783| 457.443| 1/1/2019|2022-11-16 10:39:00|Credit card|435.66|            4.761904762|      21.783|   6.9|
|329-62-1586|     A|   Yangon|  Normal|  Male|  Food and beverages|     54.67|       3| 8.2005|172.2105|1/21/2019|2022-11-16 18:00:00|Credit card|164.01|            4.761904762|      8.2005|   8.6|
|319-50-3348|     B| Mandalay|  Normal|Female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|3/11/2019|2022-11-16 15:30:00|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|
+-----------+------+---------+--------+------+--------------------+----------+--------+-------+--------+---------+-------------------+-----------+------+-----------------------+------------+------+
only showing top 20 rows

In [ ]:
df =